<div class="footer-wrap">
    <div class="container">
        <div class="row footer">
            <div class="footer-content">
                <p><span><strong>&copy; <script language="javascript" type="text/javascript">document.write(new Date().getFullYear());</script>
                    AssistantPro, LLC.</strong></span><br />
                    <span>6804 Forest Ct.</span><br />
                    <span>Windsor Heights, IA 50324</span> <br></p>

                <p><span>Phone: <a href="tel:5157707382">(515) 770-7382</a></span></p>
            </div>

            <div class="footer-social">
                <!--<a href="http://www.facebook.com/theimtgroup" target="_blank"><img src="{{ site.baseurl }}/img/facebook-icon-sm.png" width="25" height="25" alt="Facebook Fan Page"></a>-->
            </div>
        </div><!--end of row footer-->
    </div><!--end of container-->
</div><!--end of footer_wrap-->
