{% extends "base.html" %}

{% block title %}We make it our business to care about yours.{% endblock %}
{% block meta_description %}AssistantPro, LLC. is designed to assist in the every day duties of the real estate transaction
  and help make life simpler for the Realtor.{% endblock %}

{% block body_content %}
  <div class="content">
    <div class="hero-unit">
      <h1>Assistant Pro <small>Transaction Coordinator</small></h1>
      <p>
        <strong>AssistantPro, LLC.</strong> is designed to assist in the every day duties of the real estate transaction
        and help make life simpler for the Realtor.  Fiduciary integrity and professional ethics are critical for our business
        and effective communication is key for making YOUR business grow.
      </p>

      <p><strong><em>I make it my business to care about yours...</em></strong></p>
      <p>Our services are directed toward Des Moines, IA area Real Estate Agents.

        Your time is important, so let us help manage that time.</p>
    </div>
    <section id="summary_of_services">
      <h2>Summary of Services</h2>
      <ol>
        {% include "web/services_list.html" %}
      </ol>

    </section>
  </div>

{% endblock %}
