{% extends "base.html" %}

{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block page-title %}{% endblock %}
{% block page-tagline %}{% endblock %}


{% block body_content %}
  <div class="content">
    <div class="hero-unit">
      <h1>Assistant Pro <small>Transaction Coordinator</small></h1>

      <p>
        <strong>AssistantPro, LLC.</strong> is designed to assist in the every day duties of the real estate transaction and help make life simpler for the Realtor.   Fiduciary integrity and professional ethics are critical for my business and effective communication is key for making YOUR business grow.
      </p>

      <p><strong><em>I make it my business to care about yours...</em></strong></p>
      <p>

        My summary of services are directed toward area Real Estate Agents, however, as an AssistantPro Transaction Coordinator, I am open to hearing your business need and negotiating fees so we can find a way to work together.

        Your time is important, so let me help manage that time.</p>
    </div>
    <section id="summary_of_services">
      <h2>Summary of Services</h2>
      <ol>
        <li>Prepare sales worksheet and deliver all documents to closing department.</li>
        <li>Make sure lender, Realtor and clients all have the copies needed.</li>
        <li>Locate abstract when needed and send to abstract company of choice.</li>
        <li>Call in Home Warranty and get confirmation number and bill to lender</li>
        <li>Track loan process, making sure the property and termite inspections are done.</li>
        <li>Secure loan commitments by the required dates.</li>
        <li>Work to clear title opinions.</li>
        <li>Secure signatures for affidavits and closing documents.</li>
        <li>Notarize any documents needed.</li>
        <li>See to it that everyone receives the HUD Settlement statement, while making sure they are correct.</li>
        <li>Deliver sellers closing documents to the closing on or before the day of closing, deliver sellers proceeds to the agent or seller, and deliver buyer gift when necessary.</li>
      </ol>

    </section>
  </div>

{% endblock %}
