{% extends "base.html" %}

{% block title %}Rates and Notices{% endblock %}
{% block meta_description %}AssistantPro Transaction coordinators provide a cost effective service with competitive rates.{% endblock %}

{% block content %}
  <header>
    <p class="lead">
      <strong>AssistantPro</strong> coordinators provide a cost effective service with competitive rates.
    </p>
  </header>

  <section id="rates">
    <h1>Rates</h1>
    <h2><small>Our prices are simple and straightforward.</small></h2>
    <ul>
      <li> $200 for one side of transaction</li>
      <li>$250 for both sides of transaction</li>
    </ul>
  </section>
  
  <section id="notices">
    <h1>Notices</h1>
    
    <p class="alert alert-block alert-info">Your <strong>AssistantPro</strong> Coordinator is not a licensed Realtor, but rather a Limited Liability Company and will in no way negotiate for any part of the transaction.  The Contracted Agent takes all responsibility to negotiate any problems as reported by the AssistantPro Coordinator and complete any amendments or addendum's needed.</p>
    <p class="alert alert-block alert-info"><strong>AssistantPro, LLC.</strong> works as an independent contractor and <strong><em>not an employee</em></strong> of the contracted agent.</p>
    <p class="alert alert-block alert-info"><strong>AssistantPro</strong> Coordinator will take two weeks each year for vacation and personal rejuvenation time, not necessarily consecutively.   A two-month notice will be given for this vacation time and the contracted agent will handle any transaction issues in the Coordinators absence.</p>
  </section>
{% endblock %}
