<li>Prepare sales worksheet and deliver all documents to closing department.</li>
<li>Make sure lender, Realtor and clients all have the copies needed.</li>
<li>Locate abstract when needed and send to abstract company of choice.</li>
<li>Call in Home Warranty and get confirmation number and bill to lender</li>
<li>Track loan process, making sure the property and termite inspections are done.</li>
<li>Secure loan commitments by the required dates.</li>
<li>Work to clear title opinions.</li>
<li>Secure signatures for affidavits and closing documents.</li>
<li>Notarize any documents needed.</li>
<li>See to it that everyone receives the HUD Settlement statement, while making sure they are correct.</li>
<li>Deliver sellers closing documents to the closing on or before the day of closing, deliver sellers proceeds to the agent or seller, and deliver buyer gift when necessary.</li>
