
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}/css/stylesheet.min.css" rel="stylesheet">
    <link rel="icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/x-icon" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="page-container">
        <div class="mobile-nav">
            <div class="navbar-header">
                <button class="navbar-toggle menu" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    Menu
                </button>
                <a href="#" class="navbar-brand">{{ site.mobile_company_name }}</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    {% include nav_list.html %}
                </ul>
            </nav>
        </div><!--end of mobile nav-->

        <div class="container">
            <div class="row head">
                <div class="col-md-12">
                    <div class="logo"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/CompanyLogo.png" alt="Company Name"></a><!--end of logo--></div>

                    <div class="topnav">
                        <div class="tertiary">I make it my business to care about yours!</div>
                        <nav class="desktop-nav">
                            <ul class="nav nav-pills">
                                {% include nav_list.html %}
                            </ul>
                        </nav>
                    </div><!--end of topnav-->
                </div><!--end of col-md-12-->
            </div><!--end of row-->

        {{ content }}
        </div><!--end of container-->
    </div><!-- end of page container -->
    {% include footer.html %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/utils.js"></script>
</body>
</html>
